<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale conosco</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <header class="cabeçalho">
        <img class="cabeçalho-logo" src="{{url_for('static', filename='arte/logo fortalecer.jpg')}}" alt="logo">
        <nav class="cabeçalho-menu">
            <a class="cabeçalho-itens" href="/home" >HOME</a>
            <a class="cabeçalho-itens" href="/sobre">SOBRE NÓS</a>
            <a class="cabeçalho-itens" href="/faleconosco">CONTATO</a>
        </nav>
    </header>

    <main>
        
    </main>


    <footer class="footer">
        <img class="footer-img" src="{{url_for('static', filename='arte/logo fortalecer.jpg')}}" alt="logofooter">
    </footer>
    
</body>
</html>